
.idea/misc.xml

.idea/modules.xml

.idea/workspace.xml

*.class

*.csv

*.xml

*.iml

.idea/

data/Users/*/Facebook (JSON)


data/Users/*/Discord (TXT)


data/Users/*/Unsorted Files (TXT)


.idea/vcs.xml

docs/script.js
